In [9]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (current 3 hours),Snow Inches (current 3 hours)
0,0,Chokurdakh,RU,2020-01-17 00:41:48,70.63,147.92,-20.04,97,100,7.72,overcast clouds,0.0,0.0
1,1,Airai,TL,2020-01-17 00:41:49,-8.93,125.41,76.77,74,18,1.23,few clouds,0.0,0.0
2,2,Sitka,US,2020-01-17 00:41:49,57.05,-135.33,16.57,61,83,9.37,broken clouds,0.0,0.0
3,3,Port Alfred,ZA,2020-01-17 00:41:50,-33.59,26.89,71.01,95,0,16.44,clear sky,0.0,0.0
4,4,Oppdal,NO,2020-01-17 00:41:50,62.59,9.69,21.60,78,83,12.24,broken clouds,0.0,0.0

In [5]:
# Create separate dataframes for each desired city.
acapulco = city_data_df["City"]=="Acapulco"
acapulco_df = city_data_df[acapulco]
acapulco_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (current 3 hours),Snow Inches (current 3 hours)
392,392,Acapulco,MX,2020-01-17 00:41:00,16.86,-99.89,78.33,70,83,4.43,broken clouds,0.0,0.0

In [6]:
# Create separate dataframes for each desired city.
puertoescondido = city_data_df["City"]=="Puerto Escondido"
puertoescondido_df = city_data_df[puertoescondido]
puertoescondido_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (current 3 hours),Snow Inches (current 3 hours)
454,454,Puerto Escondido,MX,2020-01-17 00:45:16,15.85,-97.07,74.35,57,0,1.72,clear sky,0.0,0.0

In [7]:
# Create separate dataframes for each desired city.
pochutla = city_data_df["City"]=="Pochutla"
pochutla_df = city_data_df[pochutla]
pochutla_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (current 3 hours),Snow Inches (current 3 hours)
359,359,Pochutla,MX,2020-01-17 00:44:32,15.74,-96.47,82.92,64,0,9.98,clear sky,0.0,0.0

In [8]:
# Create separate dataframes for each desired city.
champerico = city_data_df["City"]=="Champerico"
champerico_df = city_data_df[champerico]
champerico_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (current 3 hours),Snow Inches (current 3 hours)
124,124,Champerico,GT,2020-01-17 00:42:41,14.3,-91.92,80.53,68,0,5.41,clear sky,0.0,0.0

In [10]:
# Latitude-longitude pairs
acapulco = (16.86, -99.89)
puertoescondido = (15.85, -97.07)
pochutla = (15.74, -96.47)
champerico = (14.3, -91.92)

fig = gmaps.figure()
acapulco2champerico = gmaps.directions_layer(acapulco, champerico)
fig.add_layer(acapulco2champerico)
fig

Figure(layout=FigureLayout(height='420px'))